In [ ]:
#playing with https://www.kaggle.com/c/demand-forecasting-kernels-only
#todo
#-one-hot tuning

In [11]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

### 1. 데이터 로딩 및 형식 파악

In [6]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [7]:
train.head()

         date  store  item  sales
0  2013-01-01      1     1     13
1  2013-01-02      1     1     11
2  2013-01-03      1     1     14
3  2013-01-04      1     1     13
4  2013-01-05      1     1     10

In [8]:
#각 컬럼의 유니크 데이터 파악
print('Unique value count :')
for i in train.columns:
    print(i, len(train[i].unique()))

Unique value count :
date 1826
store 10
item 50
sales 213

### 2. 데이터 프로세싱

In [9]:
def convert_dates(x):
    x['date'] = pd.to_datetime(x['date'])
    x['month'] = x['date'].dt.month
    x['year'] = x['date'].dt.year
    x['dayofweek'] = x['date'].dt.dayofweek
    x['week'] = x['date'].dt.week
    x.pop('date')
    return x
train = convert_dates(train)
test = convert_dates(test)

In [ ]:
#data["median-store_item"] = data.groupby(["item", "store"])["sales"].transform("median")

In [12]:
train_x, val_x, train_y, val_y = train_test_split(train.drop('sales',axis=1),train.pop('sales'),random_state=123,test_size=0.2)

In [15]:
from keras import backend,optimizers
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.utils import to_categorical

Using TensorFlow backend.

In [16]:
def one_hot_encode(data, features):
    res = to_categorical(data, num_classes=features+1)
    return res

In [ ]:
data_enc_input = pd.DataFrame()

In [24]:
def encoder(df, columns):
    input_array = []
    for i in df.columns:
        if np.min(df[i]) > 1:
            df[i] = df[i] - np.min(df[i])
            input_array.append(one_hot_encode(df[i], df[i].nunique()))
        else:
            input_array.append(one_hot_encode(df[i], df[i].nunique()))
    
    return np.concatenate(input_array, axis=1)

train_x = encoder(train_x, train_x.columns)
val_x = encoder(val_x, val_x.columns)

In [23]:
val_x.head()

        store  item  month  year  dayofweek  week
499703      4    28      4  2016          2    16
573831      5    32      4  2014          6    15
9456        6     1     11  2013          5    47
414885      8    23      1  2014          6     3
137177      6     8      8  2013          4    33

In [25]:
train_x.shape

(730400, 143)

In [37]:
backend.clear_session()
model = Sequential()
model.add(Dense(256, input_shape=(train_x.shape[-1],)))
# for i in range(2):
#     model.add(Dense(10, activation='relu'))
#     model.add(Dropout(0.2))
model.add(Dense(1, activation='relu'))
#adam = optimizers.Adam(lr=0.001, beta_1=0.9, beta_2=0.999, epsilon=1e-8)
model.compile(loss='mae', optimizer='adam')

In [38]:
model.fit(train_x_concat, train_y, batch_size=512, epochs=4, verbose=1, validation_split=0.1)

Train on 657360 samples, validate on 73040 samples
Epoch 1/4
657360/657360 [==============================] - 4s 5us/step - loss: 11.4584 - val_loss: 7.7603
Epoch 2/4
657360/657360 [==============================] - 3s 5us/step - loss: 7.7519 - val_loss: 7.7589
Epoch 3/4
657360/657360 [==============================] - 3s 5us/step - loss: 7.7506 - val_loss: 7.7492
Epoch 4/4
657360/657360 [==============================] - 3s 5us/step - loss: 7.7498 - val_loss: 7.7622

In [39]:
model.evaluate(val_x, val_y)

182600/182600 [==============================] - 3s 14us/step

7.744850928608455

In [ ]:
#todo
#kernel 새로운거에 one-hot-encoding 반영
#smape 문제 안생기는 수식 찾아서 embed 에 적용